:root{
    --Primary_color: #101313;
    --Primary_text_color : #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;

    background-color: var(--Primary_color);
    color: var(--Primary_text_color);

    overflow-x: hidden;
}
.default_margin{
    width: calc(100% - 60px);
    margin: 0 auto;
}
h1{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}
h3{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}
img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: var(--Primary_color);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #616474;    /* color of the scroll thumb */
}

/*header*/
header{
    padding: 0.5rem 0;
    background-color: #00000048;
    backdrop-filter: blur(5px);
}
#logo{
    height: 2.5rem;
    width: auto;
}
/*main*/
#principal{
    width: 100%;
    height: 100vh;

    position: relative;
}
.img_bg{
    width: 100%;
    height: 100%;
    
    opacity: 0.8;

    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
/*about*/
#about{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#about_img{
    width: 100%;
    border-radius: 50%;
}